/*

App Name: Period Tracker
App Url: https://fate92ma.github.io/Period-Tracker
Contact Me: fatema131khaled@gmail.com

*/

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box
}

/* Start Styling */

body {
    font-family: system-ui;
    background-image: url('../img/bg.jpg')
}

h3,
strong {
    color: #860027
}

main {
    background: #FFD4E1;
    padding: 40px 15px;
    border-radius: 4px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%)
}

main h1 {
    color: #BC496B;
    align-items: center;
    width: fit-content;
    margin: auto;
    margin-bottom: 40px;
    padding-bottom: 10px;
    border-bottom: 4px double;
    text-align: center
}

section h3 {
    margin-bottom: 10px
}

section div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px
}

section div input,
section div select,
section button {
    outline: 0;
    padding: 5px;
    border: 1px solid darkgray;
    width: 100%
}

section div .monthInput,
section div:nth-of-type(2) select {
    margin: 0 10px
}

section div:nth-of-type(2) select {
    width: 140px
}

section button {
    border: none;
    background: #BC496B;
    color: #FFD4E1;
    margin: auto;
    display: block;
    font-size: 18px;
    cursor: pointer;
    border-radius: 4px;
    width: fit-content
}

section button:hover {
    background: #860027
}

ul li {
    list-style-position: inside;
    margin-top: 14px
}

/* End Styling */

/* Start Media Query */

@media (max-width: 1024px) {
    main {
        width: 65vw
    }
}

@media (max-width: 768px) {
    main {
        width: 92vw
    }

    h3 {
        text-align: center
    }

    section div {
        text-align: center;
        flex-direction: column
    }

    section div .monthInput,
    section div:nth-of-type(2) select {
        margin: 10px 0
    }

    section div select,
    section div input {
        width: 140px
    }
}

/* End Media Query */